body {
  background-color: #8CC461;
  padding: 0%;
  /* overflow: hidden; */
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;

}



#heading {
  display: flex;
  justify-content: space-between;
  background-color: linear-gradient(0deg, rgba(28, 48, 120, 0), rgba(28, 48, 120, 0)),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 2px solid rgb(255, 255, 255);
  width: 50%;
  height: max-content;
  border-radius: 8px;
  margin-left: 25%;
  margin-top: 1.2%;
  color: white;
  padding: 10px;
}

#text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  list-style-type: none;
  line-height: 30px;
}

#text span {
  margin-bottom: 1px;
}

#scores {
  display: flex;
  gap: 10px;
}

.box {
  letter-spacing: 1px;
  background-color: white;
  height: 5.5rem;
  width: 5.5rem;
  margin-top: 2px;
  padding: 0%;
  border-radius: 6px;
  text-align: center;
  color: #656565;
  list-style-type: none;
  line-height: 30px;
}

.pla {
  font-size: 2.2vh;
  line-height: 0%;
}

.inc {
  font-size: 8vh;
  font-weight: bolder;
  color: #252525
}

/* Game */
.game {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "rock scissors"
    "paper paper";
  place-items: center;
  height: 27rem;
  width: 24rem;
  margin: auto;
}

.game::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 22%;
  left: 10%;
  background: url("/src/images/bg-linez.svg") no-repeat;
  z-index: -1;
}

.choice-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.choice {
  position: relative;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  
}

.choice::before,
.choice::after {
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
}

.choice::after {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
.choice-btn:focus .choice::after {
  opacity: 1;
  z-index: -2;
  box-shadow: 0px 2px 92px 0px #00000021 , 0 3px 0 50px  #2E9A2563;
  

}

.choice img {
  transform: scale(1);
}

.choice.rock::before {
  background: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.choice.paper::before {
  background: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}
.choice.scissors::before {
  background: linear-gradient(to bottom, hsl(284, 100%, 50%),hsl(285,98%,50%));
}

.choice-btn[data-choice="paper"] {
  grid-area: paper;
}
.choice-btn[data-choice="scissors"] {
  grid-area: scissors;
}
.choice-btn[data-choice="rock"] {
  grid-area: rock;
}



/* Results */
.results {
  display: grid;
  grid-template-columns: repeat(2, 6fr);
  place-items: center;
  grid-template-areas:
    "you-title ai-title"
    "you-picked ai-picked";
  max-width: 1000px;
  margin: auto;
}

.results__heading {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 2rem 0 3rem;
}
.results__result {
  min-width: 5rem;
  min-height: 5rem;
  background: #16213d;
  border-radius: 50%;
  transform: scale(1);
  z-index: -1;
}

.results__heading:first-of-type {
  grid-area: you-title;
}
.results__heading:last-of-type {
  grid-area: ai-title;
}
.results__result:first-of-type {
  grid-area: you-picked;
}
.results__result:last-of-type {
  grid-area: ai-picked;
}

.results.show-winner {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "you-title . ai-title"
    "you-picked result-winner ai-picked";
}

.winner .choice::after {
  box-shadow: 0 0 0 30px rgba(29, 168, 43, 0.79), 0 0 0 40px#2E9A2563, 0 0 0 50px #1DA82BC9;
  animation: winner 1s ease forwards;
}

@keyframes winner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.results__winner {
  grid-area: result-winner;
  display: grid;
  place-items: center;
}
.results__text {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.play-again {
  background: #fff;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  color: #6B6B6B;
  padding: 0.6rem 2rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.play-again:focus {
  border: 2px solid burlywood;
}



.rules_btn {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  background: none;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  color: #FFFFFF;
  padding: 0.3rem 1.3rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
}

.close_btn {
  position: absolute;
  top: -4rem; 
  width: 1rem;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  right: 8rem; 
}

.show_rules{
  opacity: 1;
  pointer-events: initial;
}

.Rules {
  position: absolute;
  top: 10rem; 
  right: 3rem; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.rules_container {
  width: 17rem;
  height: 19rem;

  border: 5px solid #FFFFFF;
  border-radius: 15px;
  list-style-type: square;
  background-color: #004429; 
  padding: 1rem; 
}

.rules_container ul {
  color: #FFFFFF; 
  font-size: 15px; 
  list-style-type: square;
  padding-left: 1rem; 
}

.rules_container li::marker {
  color: #FFD600; 
  margin-bottom: 3rem; 
}
.close_btn{
  position: absolute;
  right: 1rem;

}
.heading{
  text-align: center;
  color: #FFFFFF;
  margin: 0%;
}

.hidden{
  display: none;
}
